{% extends "layout.html" %}

{% block title %}Beneficiaries - Samaritan{% endblock %}

{% block main %}

  <div class="container">
    <h1>Beneficiarios</h1>

    <div>
      <form action="/beneficiaries" method="post">
        <div class="row g-4">
          <div class="col-12 col-md-6">
            <label for="name" class="form-label fw-semibold">Nombre completo o de Familia</label>
            <input type="text" class="form-control" name="name" placeholder="Ej. Familia Rodriguez o Maria Lopez" >
          </div>
    
          <div class="col-12 col-md-6">
            <label for="phone" class="form-label fw-semibold">Telefono</label>
            <input type="text" class="form-control" name="phone" placeholder="Ej. 809-556-4520" >
          </div>
    
          <div class="col-12 col-md-8">
            <label for="location" class="form-label fw-semibold">Direccion o Sector</label>
            <input type="text" class="form-control" name="location" placeholder="Ej. Vista Catalina Callse#7 Casa 551" >
          </div>
    
          <div class="col-12 col-md-4">
            <label for="household_size" class="form-label fw-semibold">personas en el hogar</label>
            <input type="number" class="form-control" name="household_size" >
          </div class="col-12">
    
          <div class="col-12">
            <label for="notes" class="form-label fw-semibold">Notas</label>
            <textarea name="notes" class="form-control" placeholder="Ej. Familia con 3 niños pequeños, necesita pañales y leche"></textarea>
          </div>
    
          <div class="col-12 d-flex justify-content-end gap-2 mt-4">
            <button type="submit" class="btn btn-primary px-4 fw-semibold">Guardar Beneficiario</button>
          </div>
        </div>
      </form>
    </div>

    <div>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE/FAMILIA</th>
            <th>TELÉFONO</th>
            <th>UBICACIÓN</th>
            <th>MIENBROS</th>
            <th>NOTAS</th>
          </tr>
        </thead>
        <tbody>
          {% for b in beneficiaries %}
            <tr>
              <td>#{{ b.id }}</td>
              <td required>{{ b.name }}</td>
              <td>{{ b.phone }}</td>
              <td>{{ b.location }}</td>
              <td>{{ b.household_size }}</td>
              <td class="text-muted small">{{ b.notes }}</td>
              <td class="text-end">
                <a href="/cases/new?beneficiary_id={{ b.id }}">Crear Caso</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

{% endblock %}
